<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>

<div class="container">

    <h1>Welcome!</h1>

    <p class="alert alert-info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae illum neque nisi quis sunt voluptatem voluptates. Accusantium dignissimos ex impedit perferendis placeat reiciendis rem! Culpa delectus harum maiores rerum sunt!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda atque consectetur cupiditate eos eum hic ipsa iure, labore minus numquam, porro provident quibusdam repellat! Earum explicabo, voluptatibus! Non, tenetur voluptatum!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut est, explicabo. Architecto nisi non odio tempora. Animi ex expedita laboriosam magnam perferendis? Ad, dolorum, excepturi! Accusamus doloremque molestias perferendis sapiente.</p>

</div>

</body>
</html>
